.error{
    color: #f00;
}

.event {
	margin: 1px;
	padding: 0px;
	text-align: center;
	background-color: rgba(200, 200, 200, 0.5);
}

#calendar-container{	
	width:70%;
	height: auto;
	padding:10px;
	margin-left: 5px;
	color: white;	
	border-radius: 5px;
	border: 2px ridge rgba(0, 0, 255, 0.5);
	background-color: rgba(0, 80, 80, 0.5);
}

#calendar-header{
	height: 65px;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0, 0, 255, 0.5);
	overflow: hidden;
}

#calendar-month-year{
	margin: 20px;
	font-size: 35px;
}

#days{
	width:85px;
	height:85px;
	padding: 2px;
	background-color: rgba(0, 0, 0, 0.5);
	border: 2px ridge rgba(0, 0, 255, 0.5);
	vertical-align: top;
}

#days:hover{
	background-color: rgba(80, 80, 0, 0.5);	
	border: 2px ridge rgba(0, 0, 255, 0.5);
}

#today{
	background-color: rgba(0, 255, 0, 0.5);
	border: 2px ridge rgba(0, 0, 255, 0.5);
	vertical-align: top;
}

#week-days {
	font-size: large;
	text-align: center;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);	
	border: 2px ridge rgba(0, 255, 0, 0.5);
}

#currentMonth{
	width:100%;
}

#lastMonth{
	width: 60px;
	height: 60px;
	background: url("left.png");
	background-size: 60px 60px;
}
#lastMonth:hover{
	background: url("left_hover.png");
	background-size: 60px 60px;
}

#nextMonth{
	width: 60px;
	height: 60px;
	background: url("right.png");
	background-size: 60px 60px;
}

#nextMonth:hover{
	background: url("right_hover.png");
	background-size: 60px 60px;
}